<ng-form name="myForm">

	<div layout="column">
		<mx-multi-picker
			ng-required         = "vm.isRequired"
			read-only           = "vm.isReadOnly"
			disabled            = "vm.isDisabled"

			hint                = "This is a hint"
			class               = "mx-multi-picker-default"
			item-title-field    = "title"
			items               = "vm.pickerData"
			label               = "Value as Id"
			value-as-id         = "true"
			dropdown-html-class = "mx-multi-picker-default-values"
			navigate-item       = "vm.navigateSelectedItem"
			ng-model            = "vm.pickerValue"
		></mx-multi-picker>

		<div class="mx-multi-picker-default-results">
			{{vm.pickerValue}}
		</div>


		<div layout="column" layout-padding>
			<md-checkbox style="width: 150px" ng-model="vm.isRequired">Required</md-checkbox>
			<md-checkbox style="width: 150px" ng-model="vm.isReadOnly">Read-only</md-checkbox>
			<md-checkbox style="width: 150px" ng-model="vm.isDisabled">Disabled</md-checkbox>
		</div>

		<hr>

	</div>

	<div layout="column">
		<mx-multi-picker
			browse-lookup       = "vm.browseLookup"
			class               = "mx-multi-picker-value-as-item"
			item-title-field    = "title"
			items               = "vm.pickerData"
			label               = "Value as Item"
			read-only           = "false"
			dropdown-html-class = "mx-multi-picker-value-as-item-values"
			ng-model            = "vm.pickerItemValue"
			ng-required         = "true"
		></mx-multi-picker>
		<div class="mx-multi-picker-value-as-item-results">
			Value: {{vm.pickerItemValue}}
		</div>
	</div>

	<div layout="column">
		<mx-multi-picker
			data-items="['Apple', 'Banane', 'Pear', 'Plum']"
			data-read-only="false"
			ng-model="vm.pickerSimpleValue"
			data-label="Simple Array Items"
			data-item-title-field="title"
			class="mx-multi-picker-simple-array-items"
			dropdown-html-class="mx-multi-picker-simple-array-items-values">
		</mx-multi-picker>
		<div class="mx-multi-picker-simple-array-items-results">
			Value: {{vm.pickerSimpleValue}}
		</div>
	</div>

	<div layout="column">
		<mx-multi-picker
			items               = "vm.pickerData"
			read-only           = "false"
			ng-model            = "vm.pickerCommaValue"
			label               = "Comma Separated Value"
			separator-char      = ","
			item-title-field    = "title"
			class               = "mx-multi-picker-comma-separated-value"
			dropdown-html-class = "mx-multi-picker-comma-separated-value-values"
		></mx-multi-picker>
		<div class="mx-multi-picker-comma-separated-value-results">
			Value: {{vm.pickerCommaValue}}
		</div>
	</div>

	<div layout="column">
		<mx-multi-picker
			ng-model            = "vm.pickerLoadOnTypingValue"
			item-title-field    = "DisplayString"
			item-id-field       = "Value"
			load-items          = "vm.loadItems"
			load-on-typing      = "true"
			label               = "Load on typing"
			class               = "mx-multi-picker-load-on-typing"
			dropdown-html-class = "mx-multi-picker-load-on-typing-values"
		></mx-multi-picker>
		<div class="mx-multi-picker-load-on-typing-results">
			Value: {{vm.pickerLoadOnTypingValue}}
		</div>
	</div>
	<!--

        <div class="mx-form-content">

        </div>
    -->
</ng-form>
